<h2 mat-dialog-title>
    New Appointment
</h2>
<form [formGroup]="createForm">
    <mat-form-field appearance="outline">
        <mat-label >
            Enter Your StartTime
        </mat-label>
        <mat-select formControlName="startTime">
            <mat-option *ngFor="let time of timeSlots" value={{time}}>{{time}}</mat-option>
          </mat-select>
      <!--   <mat-error>{{createAccount.controls['email'].hasError('required')?'Email is required':'Please Enter Valid Email'}}</mat-error> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label >
            Enter Your Endtime
        </mat-label>
        <mat-select formControlName="endTime">
            <mat-option *ngFor="let time of timeSlots" value={{time}}>{{time}}</mat-option>
          </mat-select>
      <!--   <mat-error>{{createAccount.controls['username'].hasError('required')?'Username is required':'Username should be of max 10 characters'}}</mat-error>
   -->   
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>
            Description
        </mat-label>
        <textarea matInput formControlName="description"></textarea>
        <!-- <input matInput type="password" formControlName="username">  -->
       <!--  <mat-error>{{createAccount.controls['password'].hasError('required')?'Password is required':'Password should be of minimum 6 characters'}}</mat-error> -->

    </mat-form-field><mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>

    <button mat-raised-button (click)="create()">Create</button>
</mat-dialog-actions>
</form>
