<h2 mat-dialog-title>
    New Appointment
</h2>
<form [formGroup]="createForm">
    <mat-form-field appearance="outline">
        <mat-label >
            Enter Your StartTime
        </mat-label>
        <mat-select formControlName="startTime">
            <mat-option *ngFor="let time of timeSlots" value={{time}}>{{time}}</mat-option>
          </mat-select>
      <mat-error>{{createForm.controls['startTime'].hasError('required')?'PLease enter start time':''}}</mat-error> 
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label >
            Enter Your Endtime
        </mat-label>
        <mat-select formControlName="endTime">
            <mat-option *ngFor="let time of timeSlots" value={{time}}>{{time}}</mat-option>
          </mat-select>
       <mat-error>{{createForm.controls['endTime'].hasError('required')?'PLease enter end time':''}}</mat-error>
      
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>
            Description
        </mat-label>
        <textarea matInput formControlName="description"></textarea>
        <!-- <input matInput type="password" formControlName="username">  -->
      <mat-error>{{createForm.controls['description'].hasError('required')?'Please enter meeting details':''}}</mat-error> 

    </mat-form-field><mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>

    <button mat-raised-button (click)="create()">Create</button>
</mat-dialog-actions>
</form>
