/* .time-slot-selector button {
    display: block;
    margin: 5px 0;
  }
  
  .time-slot-selector button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
   */

   .calender-card {
    width: 600px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  